[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.2.5"
python-dotenv = "==1.0.1"
smolagents = "==1.2.2"
litellm = "==1.57.8"
playwright = "==1.49.1"
html-sanitizer = "==2.5.0"
beautifulsoup4 = "==4.12.3"
requests = "==2.32.3"
torch = "==2.5.1"
ollama = "==0.4.7"
[dev-packages]

[requires]
python_version = "3.10"


